
html{
   scroll-behavior: smooth;
}
body{

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
   height: 100vh;
   width: 100%;
   /* padding: 0 1px 1px 0px; */
   background: url('../images/landing/landinge2.jpg') no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover; 
}
#top{
    z-index:100;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position:fixed;
    width: 100%;
    height:50px;
    background:rgba(0,0,0,0.9);
    color: #fff;
}
#menuList{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 8px;
}
#menuList li{
    padding:8px;
    font-size:0.85em;
    color: #fff; 
}
#hamburger{
    display:none;
}
#hamburger:hover{
    cursor: pointer;
}
#responsivelist{
    position:absolute;
    top:0;left:0;
    /* flex-direction: column; */
    background: black;
    min-height:100vh;
    color:#fff;
    margin: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    transition: width 0.25s;
}
.li{
    margin-top: 1rem;
    text-align: center;
}
#closemenu{
    display:block;
    margin-right:10px;
    cursor:pointer;
    color:#fff;
    font-size:1.2em;
    text-align:right!important;}


#logo{
    margin: 12px;
}
.brief{
    position:absolute;
    top:57vh;
    left:54vw;
    color: white;
    /* text-align: center; */
}
.brief h3{
    font-size: 1.22rem;    
}
.btnL{
    display:inline-block;
    width:5rem;
    padding:5px 10px; 
    text-align: center;
    font-size:1.01rem;
    border-radius:5px;
    text-decoration: none;
}
.shop{
    display:inline-block;
    color:#fff;
    background:linear-gradient(to right, black, darkgray);
}
.explore{
    color:#fff;
    border:1px solid white;
    margin-left:10px;
    background: rgba(1, 0, 0, 0.5);
    /* background-color: black; */
    /* opacity: .7; */
}
.underline{
    width:6.5em; 
    border: none;
    background-color: black;
    height:3px;
    margin-bottom:32px;
}
#about{
    display: grid;
    grid-template-rows: 19vh 40vh 40vh;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 10px;
}

.aboutSectionHead .backGround{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: -1;
    margin-top: 0;
    opacity: .2;
}
.aboutSectionHead{
    /* margin-top: 4rem; */
    /* text-align: center; */
    /* opacity: 2; */
    grid-area: 1/1/2/4;
    justify-self: center;
}

.aboutSectionHead h1{
    margin-top: 0;
    padding-top: 4rem;
}
.icon{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.icon1{
    grid-area: 2/1/3/2;
    justify-self: center;
}
.icon2{
    grid-area: 2/2/3/3;
    justify-self: center;
}
.icon3{
    grid-area: 2/3/3/4;
    justify-self: center;
}
.icon4{
    grid-area: 3/1/4/2;
    justify-self: center;
}
.icon5{
    grid-area: 3/2/4/3;
    justify-self: center;
}
.icon6{
    grid-area: 3/3/4/4;
    justify-self: center;
}

.icon img{
    width: 7rem;
    margin-top: 24px;
}
#testimonials{
    text-align: center;
    position: relative;  
    padding: 80px 10vw 0;
    overflow: hidden;
    min-height: 100vh;
    background-color: aqua;
    background: url('../images/slider/side8.jpg');
    color: #fff
}
#testimonials h1{
    margin-top: 10rem;
    margin-bottom: 1rem;
}

#testimonials hr{
    margin-bottom: 15px;
    background-color: #fff;
}
.container{
    display: flex;
    width: 500%;
    position: absolute;
    left: 0;
    animation: amimate 30s 5;
    animation-delay:6s;
    animation-timing-function: linear;
  }
  @keyframes amimate {
    0%{}
      5%{left:-100%}
      20%{left:-100%}
       25%{left:-200%}
       45%{left:-200%}
        50%{left:-300%}
        75%{left:-300%}
          80%{left:-400%}
          100%{left:-400%}
      }
.slide{
width: 100%;
}
.slide img{
width: 150px;
}
.slide p{
font-style: italic;
font-size: 1.1rem;  
}
#order{
padding-top: 5rem;
min-height: 100vh;
background: url('../images/shop/white1.jpg') no-repeat;
/* background-attachment: fixed; */
background-position: center center;
background-size: cover; 
/* margin-top: 10rem; */
}  
.orderHead{
text-align: center;
}
.orderHead h1{
    margin-top: 0;
    margin-bottom: 3px;
}

.orderHead hr{
    margin-top: 0;
    padding-top: 0;
    width: 5rem;
}
.orderProducts{
display: flex;
justify-content: space-around;
height: 80vh;
}
.products{
    width: 49%;
    text-align: center;
}
/* .products h1{
    text-align: center;
}

.products h3{
    text-align: center;
} */
.productSelections{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}
.item{
    width: 48.6%;
    height: 33vh;
    padding: 0;
    border: 1px solid black;
}

.item img{
    max-width: 80%;
    min-width: 80%;
    max-height: 70%;
    min-height: 70%;
}
.orderList h2{
    text-align: center;
}
.orderList{
    width: 49%;
}

#connect{
    padding-top: 5rem;
    min-height: 80vh;
    background: url('../images/socials/contact4.jpg') no-repeat;
    background-position: center center;
    background-size: cover; 
    color: #fff;
    }
    /* .signup{
        text-align: center;
    } */
    
#contact{
    display: flex;
    width: 80%;
    max-width:700px;
    margin:auto;
    padding: 100px 0;
    text-align: center;
}
#mydetails{
    width: 40%;
    background:dodgerblue;
    background:linear-gradient(rgba(0, 153, 255,0.8),rgba(0, 153, 255,0.8)), url('../images/socials/contact_me.jpg');
    box-shadow: 1px 2px 3px lightgrey;
    background-size: cover;
    color: #fff;
    text-align: left;
    padding-left:5%;
}

#contactform{
    width: 60%;
    background-color:rgba(192,192,192,0.7);
    box-shadow: 1px 2px 3px lightgrey;
    padding-top: 10px;
}
        
#contactform input{border:none;border-bottom:0.5px solid grey;margin:20px 0;width:90%;}

textarea{width: 90%;margin: 10px;border: none; border-bottom: 0.5px solid grey;font-family:arial;}

input[type="submit"]{border-bottom: none; background:tomato;padding: 10px;color:white;}


footer{
    display: flex;
    position: relative;
    align-items: center; 
    justify-content: space-around;
    background:#000;
    min-height:104px;
    color: #fff;
    
}
footer p{
    margin:0 20px
}
.iconic img{
    color: #fff !important;
    font-size: 1rem;
    /* background-color: #fff; */
}
footer a:visited{color: #fff;}



@media (max-width:1100px) {
.brief{
top: 38vh;
}
#testimonials{
    height: 100vh;
    padding-top: 2rem;
}
#testimonials h1{
    margin-top: 2rem;
    margin-bottom: 6px;
    font-size: 1rem;
}
#testimonials img{
    margin-top: .5rem;
    margin-bottom: 4px;
}

#testimonials p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.underline{
    margin-bottom: 0;
    margin-top: 0px;
}
#about{
    padding-bottom: 8px;   
}
.aboutSectionHead h1{
    margin-top: 24px;
    font-size: 1.2rem;
    padding-top: 32px;
    text-align: center;
    margin-bottom: 4px;
}
.icon{
    margin: 16px 16px 0px;
    }
.icon img{
    width: 3rem;
    margin-top: 1.5rem;
}
.icon p{
    margin-top: 0;
    font-size: 13px;
}

.slide{
    margin-top: 0rem;
    }
.slide img{
    width: 90px;
    margin-bottom: 8px;
}
.slide p{
    font-style: italic;
    font-size: .8rem;  
}
.slide span{
    font-size: .8rem;  
    margin-top: 0;
}
#order{
    padding-top: 3rem;
}
#order h1{
    font-size: .8rem;
    margin: 8px 0;
}
#order h2{
    font-size: .9rem;
}
#order h3{
    font-size: .8rem;
    margin-bottom:2px;
    margin-top: 2px;
}
.pride{
    display: none;
}
.orderHead{
    display: none;
}

.item{
    width: 49%;
    height: 28vh;
}
.item img{
    max-width: 80%;
    min-width: 80%;
    max-height: 55%;
    min-height: 55%;
}
}

@media (max-width:800px) {
#menuList{
    display: none;
}
#hamburger{
    display:block;
}
.brief{
    top: 41vh;
}
}
@media (max-width:675px) {
.brief{
    top: 43vh;
}
#testimonials{
    min-height: 90vh;
    padding-top:1rem;
}
#testimonials h1{ 
    /*  */
    margin-bottom:0px; 
}
.btnL{
    font-size: 0.9rem;
    padding: 3px 7px;
}
.explore{
    margin-left:4px;
}
.aboutSectionHead h1{
    margin-bottom: 0px;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
}
#about p{
    padding-bottom: 8px;
    font-size: 12px;
}
.icon{
    margin: 0 0 2.2rem 0;
}
}

@media (max-width:450px) {
    #testimonials{
        min-height: 95vh;
        padding: 3rem;
    }
    #testimonials h1{
        margin-top: 9rem;
        margin-bottom: 8px;
    }
    #top h1{
        font-size:1rem;
    }
    .shop{
        display: none;
    }
    .explore{
        font-size:12;
        padding: 5px 8px;
    }
    #about{
        display: grid;
        grid-template-rows: 12vh 29vh 29vh 29vh;
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 8px;
        text-align: center;
        justify-content: center;
    }
    .aboutSectionHead{
        grid-area:1/1/2/3 ;
        justify-self: center;
    }
    .aboutSectionHead h1{
        margin-top: 8px;
        font-size: 1.5rem;
    }
    #about p{
        font-size:14px;
    }
    .icon1{
        grid-area: 2/1/3/2;
        justify-self: center;
    }
    .icon2{
        grid-area: 2/2/3/3;
        justify-self: center;
    }
    .icon3{
        grid-area: 3/1/4/2;
        justify-self: center;
    }
    .icon4{
        grid-area: 3/2/4/3;
        justify-self: center;
    }
    .icon5{
        grid-area: 4/1/5/2;
        justify-self: center;
    }
    .icon6{
        grid-area: 4/2/5/3;
        justify-self: center;
    }
    .icon img{
        width: 4rem;
        padding: 0;
        margin-top: 14px;
    }
    .slide{
        margin-top: 1rem;
    }
    .slide img{
        width: 150px;
        margin-bottom: 16px;
    }
    .slide p{
        font-style: italic;
        font-size: 1.3rem;  
    }
    .slide span{
        font-size: 1.1rem;  
    }
    #order{
        padding-top: 4rem;
        /* background-color: red; */
    }
    .orderProducts{
        flex-direction: column;
    }
    .products{
        width: 99%;
    }
    .orderList{
        width: 99%;
    }
    #contact{flex-direction:column;width:90%;max-width:500px;}
    #mydetails{width:100%;text-align: center;box-sizing: border-box;}
    #contactform{width: 100%;}
    #connect{
        height: 74vh;
        padding-top: 30px;
    
    }
    #contact{
        /* height: 70vh; */
        padding-top: 20px;
        padding-bottom: 16px;
    }

    #contact h2{
        margin: .5rem 0;
    }

    #contact p{
        margin:.6rem 0;
    }
    #contactform input{ 
        margin: .8rem;
    }
    #contactform textarea{ 
        margin-top: .8rem;
    }
    #contactform  input[type="submit"]{
        margin-top: .5rem;
    }
    footer p{
        /* padding-bottom: .6rem; */
    }
    footer img{
        /* padding-bottom: .6rem; */
    }

  }

  @media (max-width:400px){
    #testimonials{
        min-height: 100vh;
        padding-top: 3rem;
    }
    #testimonials p{
        font-size: 0.9rem;
    }
    #order{
        padding-top: 3rem;
    }
    .orderHead{
        padding-bottom: 2rem;
    }
    #order h1, h2{
        font-size: 1.2rem;
    }
    #order h3{
        font-size: 1rem;
    }

  }